# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
*.log

# Environnement & Secrets
.env
.env.local

# Données personnelles & Notes privées
src/portfolio.json
update.md

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
